<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userSQL">
	<!-- 아이디 중복체크 -->
	<select id="checkId" parameterType="String" resultType="user">
		select * from user_table where id=#{id}
	</select>
	
	<!-- 회원가입 -->
	<insert id="join" parameterType="user">
		insert into user_table(name,id,pwd,email) values(#{name},#{id},#{pwd},#{email})
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="String" resultType="user">
		 select * from user_table where id=#{id}
	</select>
	
	<!-- 암호화된 비밀번호 가져오기 -->
	<select id="pwdCheck" parameterType="String" resultType="String">
		select pwd from user_table where id=#{id}
	</select>
	
	<!-- 내 정보 수정 -->
	<update id="modify" parameterType="user">
		update user_table set name=#{name}, pwd=#{pwd}, email=#{email} where id=#{id}
	</update>
</mapper>