@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.header-managerTop {
  position:fixed;
  z-index:999;
  top:0px;
  color: white;
  background-color:white;

  width: 100%;
  height: 45px;
  border-bottom: 1px solid #bdc3c7;
  text-align: center;
}

.headerDiv-managerTop {
  display: inline-block;
  width: 80%;
  height: 45px;
}

.justify-content-end {
  margin-right: 70px;
}

.nav-link1 {
  color: black;
}

.nav-link2 {
  color : #e08283;
}

#logoImg-managerTop {
  margin-top: 35px;
  width: 200px;
  height: 80px;
}

.logoArea-manager {
  position: relative;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #bdc3c7;
  text-align: center;
}

.managerNavDiv-managerIndex {
	 background-color:white; 
	 width:30%; 
	 height:480px; 
	 float:left;
}

.managerArticleDiv-managerIndex {
	background-color:#d9d9d9;
	width:70%; 
	height:480px; 
	float:left;	
}

/*
추가부분 css
*/

#userListDiv {
	width : 100%;
	display:inline-block;  
	overflow: auto; 
	padding: 10px; 
	margin: 0;
	height: 410px;
	float:left;	
}

#user_listDiv{
	width : 100%;
	display:inline-block; 
	float:left;	
	font-size: 15px; 
	float:left;	
	border-bottom: 5px solid #bdc3c7;
}

#user_listDiv div {	
	float:left;	
	padding: 7px; 
	margin: 0;
	text-align:center;
}

#userList_Div {
	font-size: 15px; 
	font-wieght : bold;
	display:inline-block;
	float:center;	
	text-align:center;
}

#userListDiv input[type="checkbox"] { 
	cursor: pointer; 
	display : inline-block;
	width: 15px; 
	height: 15px;  
	line-height: 50px; 
	margin: 5px 5px 0 0; 
}


/*
join-style.css 추가
*/
.join-complete {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    text-align: center;
}

#join-complete-img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 11rem;
    height: 11rem;
}

.title {
    font-weight: bold;
    margin-bottom: 20px;
}

#goMainBtn {
    width: 220px;
    height: 80px;
    font-size: 1.6rem;
    color: white;
    background-color: black;
    border: none;
}

#goMainBtn:hover {
    background-color: white;
    color: black;
    transition: .3s ease;
    border: 1px solid black;
}

/*
index-style.css
*/

.nav-area {
  padding-top : 7px;
  width: 80%;
  margin: 0 auto;
}


.dropMenu {

  display: none;
  list-style: none
}

.drop-item {
  width: 80px;
  margin: 0 auto;

}

.drop-link {
  font-size: 10pt;
  color : #abb7b7;
}

.drop-link:hover {

  text-decoration: none;
  color: black;
}

#carouselExampleIndicators {
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.homeCardDiv {
  width: 82%;
  height: auto;

  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.homeCard {
  text-align: left;
  display: inline-block;
  margin: 9px;
}

.homeCard-title {
  font-size: 0.8rem;
  margin: 0 0 6px 0;
}

.homeCard-text {
  margin: 0;
  font-size: 0.7rem;
}

.price {
  margin: 0;
  display: inline;
  font-size: 0.8rem;
  padding-bottom: 0;
}

.reserveItem {
  float: right;
}

.footerDiv-manager {
  width: 80%;
  
  height: auto;
  margin: 0 auto;
}

.square {
  width: 40px;
  height: 40px;
  border-bottom: 3px solid black;
  margin-bottom: 6px;
}

.text {
  width: 50%;
  display: inline-block;
}

.sns_logo {
  margin: 5px 5px 0 5px;
  width: 40px;
  height: 40px;
  float: right;
}


